@{
    ViewData["Title"] = "Home Page";
}
<div style="display:flex;flex-direction:row;justify-content:space-around;align-content:center;flex-flow:wrap">
    <div style="display:flex;flex-direction:column;border:2px solid navy;padding:15px;margin:15px;height:200px;width:200px;">

        <a asp-area="" asp-controller="Customer" asp-action="Index">Manage Customers</a>
        <img src="~/images/customer.png" />
    </div>
    <div style="display:flex;flex-direction:column;border:2px solid navy;padding:15px;margin:15px;height:200px;width:200px;">
        <a asp-area="" asp-controller="Product" asp-action="Index">Manage Products</a>
        <img src="~/images/product.jpg" />
    </div>
    <div style="display:flex;flex-direction:column;border:2px solid navy;padding:15px;margin:15px;height:200px;width:200px;">
        <a asp-area="" asp-controller="Basket" asp-action="Index">Manage Baskets</a>
        <img src="~/images/basket.jpg" />
    </div>
    <div style="display:flex;flex-direction:column;border:2px solid navy;padding:15px;margin:15px;height:200px;width:200px;">
        <a asp-area="" asp-controller="Basket" asp-action="Index">Manage Basket items</a>
        <img src="~/images/items.jpg" style="max-height:90%;max-width:100%"/>
    </div>

    
    
    
    
</div>